[submodule "FaultFlipper"]
	path = FaultFlipper
	url = git@github.com:UCdasec/FaultFlipper.git
[submodule "FaultArm"]
	path = FaultArm
	url = git@github.com:brendankirkpatrick/FaultArm.git
	branch = dev
